﻿@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: Proxi Regular;
  src: url("fonts/Proxi-Regular.eot?") format("eot"), url("../fonts/Proxi-Regular.ttf") format("woff"), url("../fonts/Proxi-Regular.woff") format("woff"), url("../fonts/Proxi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Proxi Light;
  src: url("fonts/Proxi-light.eot?") format("eot"), url("../fonts/Proxi-light.ttf") format("woff"), url("../fonts/Proxi-light.woff") format("woff"), url("../fonts/Proxi-light.ttf") format("truetype");
}

@font-face {
  font-family: Proxi Bold;
  src: url("fonts/Proxi-Bold.eot?") format("eot"), url("../fonts/Proxi-Bold.ttf") format("woff"), url("../fonts/Proxi-Bold.woff") format("woff"), url("../fonts/Proxi-Bold.ttf") format("truetype");
}

.account form span, form label, .gift .gift-body .gift-coupen .col span, .about .about-banner h2, .about .section-tabs .right-content .head, .terms main ul li h4 {
  font-family: "Proxi Bold";
}

.head, .faq, .account-client .client-body form .input-field label {
  font-family: "Proxi Light";
}

body {
  font-family: "Proxi Regular";
}

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before,
.fa-battery-full:before {
  content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before,
.fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.main-header {
  z-index: 9999;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

.main-header h1 {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.main-header h1 img {
  width: 200px;
}

.main-header ul {
  margin-top: 15px;
  display: inline-block;
  float: right;
}

.main-header ul li {
  display: inline-block;
}

.main-header ul li a {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.main-header ul li a:hover {
  text-decoration: underline;
}

.main-header ul li.sign-in {
  margin-left: 100px;
}

.header-white-bg {
  border-bottom: 2px solid #efefef;
  position: static;
}

.header-white-bg ul li a {
  color: #000;
}

@media (max-width: 768px) {
  .main-header ul li.sign-in {
    margin: 0px;
  }
}

@media (max-width: 640px) {
  .main-header h1 {
    padding-left: 20px;
  }
  .main-header .container {
    padding: 0;
    max-width: 100%;
  }
  .main-header ul {
    display: none;
    background-color: #72CAC4;
    float: none;
    clear: both;
    text-align: center;
    padding: 10px;
  }
  .main-header ul li {
    display: block;
  }
  .main-header ul li.sign-in {
    margin: 0;
  }
  .main-header ul li a {
    display: block;
    padding: 10px;
  }
  .main-header ul li a:hover {
    background-color: #28ACAD;
  }
  .main-header .hamburger {
    display: block;
    height: 48px;
    width: 70px;
    margin: auto;
    cursor: pointer;
    position: relative;
    float: right;
    left: 0;
  }
  .main-header .hamburger .nav-btn {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #3DCCCD;
    top: 14px;
    right: 15px;
  }
  .main-header .hamburger .nav-btn:after {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #3DCCCD;
    top: -8px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
  .main-header .hamburger .nav-btn:before {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #3DCCCD;
    top: 8px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
  .main-header .hamburger.active .nav-btn {
    background-color: transparent;
  }
  .main-header .hamburger.active .nav-btn:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    top: 0px;
  }
  .main-header .hamburger.active .nav-btn:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    top: 0px;
  }
}

@media (max-width: 420px) {
  .main-header h1 img {
    width: 140px;
  }
}

footer {
  overflow: hidden;
  background: #212231;
  background: #212231;
}

footer .wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

footer .wrapper .col {
  width: 25%;
  text-align: left;
  float: left;
}

footer .wrapper .col h4 {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer .wrapper .col ul li {
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

footer .wrapper .col ul li a {
  color: #fff;
}

footer .wrapper .col ul li a:hover {
  text-decoration: underline;
}

footer .copyright {
  background: #161725;
  background: #161725;
  color: white;
}

footer .copyright span img {
  width: 40px;
  vertical-align: middle;
}

footer .copyright .social ul {
  display: inline-block;
  float: right;
}

footer .copyright .social ul li {
  display: inline-block;
}

footer .copyright .social ul li a {
  color: #fff;
}

footer .copyright .social ul li a .fa {
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
}

footer .copyright .social ul li a .fa.fa-facebook {
  background: #3873ae;
  background: #3873ae;
}

footer .copyright .social ul li a .fa.fa-twitter {
  background: #62c6f8;
  background: #62c6f8;
}

footer .copyright .social ul li a .fa.fa-google-plus {
  background: #dd4b39;
  background: #dd4b39;
}

footer.footer-white {
  background: #fff;
  background: #fff;
}

footer.footer-white .wrapper {
  color: #474747;
}

footer.footer-white .wrapper .col h4 {
  color: #474747;
}

footer.footer-white .wrapper .col ul li {
  color: #474747;
}

footer.footer-white .wrapper .col ul li a {
  color: #474747;
}

footer.footer-white .copyright {
  background: #fff;
  background: #fff;
  border-top: 2px solid #efefef;
}

@media (max-width: 1024px) {
  footer .wrapper .col {
    padding-left: 15px;
  }
}

@media (max-width: 640px) {
  footer .wrapper .col {
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  footer .wrapper .col:nth-child(3) {
    display: none;
  }
  footer .copyright {
    text-align: center;
  }
  footer .copyright b {
    font-size: 12px;
  }
  footer .copyright .social ul {
    display: block;
    float: none;
  }
}

@media (max-width: 420px) {
  footer .wrapper .col {
    width: 70%;
    text-align: left;
    padding-left: 0;
    border-bottom: 1px solid #fff;
    float: none;
    margin: 20px auto;
  }
  .footer-white .wrapper .col {
    border-bottom: 1px solid #000;
  }
}

body {
  letter-spacing: 1px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}

a {
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
}

.wrapper {
  max-width: 970px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

pre {
  font-size: 20px;
  text-transform: capitalize;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

strong {
  font-size: 28px;
}

.col {
  text-align: center;
  width: 33%;
  float: left;
}

.col h3 {
  text-transform: uppercase;
  font-size: 28px;
}

.section-booking {
  height: 300px;
  background-image: url("../images/helping-hand.jpg");
  background-image: url("../images/helping-hand.jpg");
  background-size: cover;
  text-align: center;
}

.section-booking .booking-form {
  padding-top: 60px;
}

.section-booking .booking-form .head {
  text-align: center;
  color: #fff;
}

.slick-slider{
  position: static;
}

.slick-arrow {
  position: absolute;
  height: 38px;
  width: 30px;
  font-size: 0px;
  background-color: transparent;
  border: none;
  top: 45%;
  cursor: pointer;
  z-index: 99;
}

.slick-arrow:before {
  color: #fff;
  content: "\f104";
  font-size: 50px !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.slick-arrow.slick-prev {
  left: 20px;
}

.slick-arrow.slick-next {
  right: 20px;
}

.slick-arrow.slick-next:before {
  content: "\f105";
}

.booking-form .ui-selectmenu-button {
  outline: none;
  border-radius: 4px 0px 0px 4px !important;
  width: 210px !important;
  padding: 10px !important;
}

.booking-form .city-drop {
  cursor: pointer;
  display: inline-block;
}

.booking-form .date-pick {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 55px;
  border: 0;
  margin-right: -5px;
  background: #fff;
  padding-right: 20px;
  padding-left: 20px;
  color: #272727;
  cursor: pointer;
  margin-left: -5px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  vertical-align: top;
}

.booking-form .date-pick input {
  cursor: pointer;
  outline: none;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

.booking-form .date-pick .fa {
  position: absolute;
  top: 30%;
  right: 10px;
}

.booking-form .time {
  display: inline-block;
}

.booking-form .time .ui-selectmenu-button {
  width: 150px !important;
  border-radius: 0px !important;
}

.booking-form .btn {
  border-radius: 0px 4px 4px 0px !important;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
  height: 55px;
  padding-right: 15px;
  padding-left: 15px;
}

.head {
  margin: 30px 0 30px 0px;
  overflow: hidden;
  text-align: center;
}

.head h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.head h3 {
  font-size: 30px;
}

.head p {
  text-align: center;
  font-size: 16px;
}

.ui-datepicker {
  border-radius: 4px !important;
}

.ui-datepicker .ui-datepicker-header {
  background: #fff;
  border: none;
  color: #262626 !important;
}

.ui-datepicker-title {
  color: #262626 !important;
}

.ui-datepicker .ui-datepicker-title {
  color: #fff;
}

.ui-corner-all {
  border-radius: 0px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-color: #fff !important;
  border: none !important;
}

.ui-state-default {
  padding: 9px !important;
  color: #444 !important;
}

.ui-state-default:hover {
  background-color: #D5EBF1 !important;
}

.ui-menu-item {
  padding: 10px 0 10px 20px !important;
  text-align: left;
  width: 100%;
  border: none !important;
}

.ui-menu-item:hover, .ui-menu-item:focus {
  background-color: #3ECDCE !important;
  color: #fff !important;
}

.ui-selectmenu-menu .ui-menu {
  max-height: 220px;
}

@media (max-width: 1024px) {
  .booking-form .ui-selectmenu-button {
    font-size: 12px;
    height: 45px;
    padding: 0 !important;
    width: 160px !important;
  }
  .booking-form .date-pick {
    width: 100px;
    height: 45px;
  }
  .booking-form .time {
    height: 45px;
    vertical-align: top;
  }
  .booking-form .time .ui-selectmenu-button {
    width: 120px !important;
  }
  .booking-form .btn {
    padding: 0 5px;
    height: 45px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 95%;
  }
  .wrapper {
    max-width: 100%;
  }
  .ui-selectmenu-button span.ui-selectmenu-text {
    padding: 16px 0px 0px 16px !important;
  }
}

@media (max-width: 640px) {
  .ui-selectmenu-button span.ui-selectmenu-text {
    padding: 10px 0px 0px 10px !important;
  }
  .head {
    margin: 20px 0 20px 0px;
  }
  .head h2 {
    font-size: 28px;
  }
  .booking-form .ui-selectmenu-button {
    height: 35px;
  }
  .booking-form .date-pick {
    height: 35px;
  }
  .booking-form .time {
    height: 35px;
  }
  .booking-form .time .ui-selectmenu-button {
    width: 120px !important;
  }
  .booking-form .btn {
    height: 35px;
  }
  pre {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
}

.right {
  float: right;
}

.hvr-sweep-to-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hvr-sweep-to-right:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #282828;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: 0 50%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  border-radius: 2px;
}

.btn-default {
  background: #3ECCCD;
  background: #3ECCCD;
  color: #fff;
}

.btn-default:hover {
  background: #28BCBD;
  background: #28BCBD;
}

.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 23px;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

.account {
  margin: auto;
  background: url("../images/bg1.jpg") center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.account .login {
  padding-top: 100px;
  max-width: 300px;
  margin: auto;
}

.account .login .logo {
  text-align: center;
}

.account .login .logo img {
  width: 150px;
}

.account .login .login-fb {
  width: 100%;
  letter-spacing: 3px;
  font-size: 10px;
  background-image: -webkit-linear-gradient(#5d7bbb, #4361a1);
  background-image: linear-gradient(#5d7bbb, #4361a1);
  margin-top: 10px;
  margin-bottom: 40px;
}

.account .login .login-fb .fa {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 40px;
}

.account .or {
  text-align: center;
  display: block;
  border-top: 1px solid #ccc;
}

.account .or em {
  display: inline-block;
  padding: 10px;
  background: #fff;
  font-size: 20px;
  color: #505050;
  position: relative;
  top: -22px;
}

.account form .btn input {
  font-size: 10px;
  letter-spacing: 3px;
}

.account form span {
  margin-top: 10px;
  display: block;
  float: left;
  color: #505050;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 100%;
  line-height: 2;
}

.account form span a {
  color: #3DCCCD;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  text-transform: uppercase;
}

form input, form select, form textarea {
  margin-bottom: 10px;
  padding: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  border: 1px solid #ececec;
  width: 300px;
  color: #A9A9BB;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

form input[type="submit"], form select[type="submit"], form textarea[type="submit"] {
  padding: 0;
  margin: 0;
}

form input:focus, form select:focus, form textarea:focus {
  border: 1px solid #3DCCCD;
}

form label {
  padding: 19px 2px 5px;
  display: block;
  font-size: 13px;
  color: #000;
}

form .form-error {
  border: medium solid red;
}

form .half-field {
  display: inline-block;
  width: 48.8%;
}

form .half-field-cvv {
  display: inline-block;
  width: 32%;
}

.banner {
  background: url("../images/Home-Care.jpg") 50% 30% no-repeat;
  background-size: cover;
  min-height: 520px;
  text-align: center;
  color: white;
}

.banner .container {
  padding-top: 160px;
}

.banner .container h2 {
  font-size: 60px;
  margin-bottom: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.banner .container p {
  font-size: 24px !important;
  margin-bottom: 40px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.how-it-work {
  padding-top: 32px;
  padding-bottom: 16px;
  background: #e1f1f0;
  background: #e1f1f0;
}

.how-it-work .container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
}

.how-it-work .container ul {
  display: inline-block;
}

.how-it-work .container ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

.how-it-work .container ul li .fa {
  text-align: center;
  margin-top: -2px;
  margin-right: 8px;
  width: 20px;
  color: #568aed;
}

.service {
  margin: 50px 0 100px;
}

.service::after, .service::before {
  clear: both;
  content: "";
  display: table;
}

.service main .col img {
  width: 120px;
}

.service main .col p {
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 78%;
}

.service main .col p::after, .service main .col p::before {
  clear: both;
  content: "";
  display: table;
}

.service main .col .btn {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px 30px;
}

.testimonial {
  position: relative;
  background: url("../images/testimonial-bg.jpg") 50% 30% no-repeat;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  color: white;
}

.testimonial::after, .testimonial::before {
  clear: both;
  content: "";
  display: table;
}

.testimonial header .fa {
  color: #FF5050;
  margin-right: 15px;
  margin-left: 15px;
}

.testimonial main {
  overflow: hidden;
  margin-top: 70px;
}

.testimonial main .col {
  outline: none;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  float: left;
}

.testimonial main .col blockquote {
  line-height: 1.7;
}

.testimonial main .col blockquote pre {
  margin-top: 10px;
}

.testimonial main .col blockquote pre:before {
  content: '\2014 \00A0';
}

.pricing {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 100px;
}

.pricing .wrapper main .col {
  color: #555;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pricing .wrapper main .col h2 {
  margin: 10px;
  text-decoration: underline;
}

.pricing .wrapper main .col h3 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #72cac4;
}

.pricing .wrapper main .col h4 {
  font-size: 24px;
  margin-bottom: 30px;
}

.pricing .wrapper main .col:nth-child(2) {
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}

.faq {
  background: #e1f1f0;
  background: #e1f1f0;
  text-align: center;
  padding: 30px 0;
}

.faq main {
  display: inline-block;
}

.faq main .row {
  max-width: 550px;
  overflow: hidden;
}

.faq main .row .tab {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
}

.faq main .row .tab span {
  display: inline-block;
  font-size: 21px;
  border-bottom: 2px solid transparent;
}

.faq main .row .tab span:hover {
  border-bottom: 2px solid #000;
}

.faq main .row .tab:before {
  text-align: center;
  content: "\f0da";
  color: #72CAC4;
  font-size: 30px !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.faq main .row .tab.active span {
  border-bottom: 2px solid #000;
}

.faq main .row .tab.active:before {
  vertical-align: middle;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.faq main .row .content {
  font-size: 19px;
  line-height: 1.3;
  font-weight: 100;
  padding: 10px 20px 10px;
  text-align: justify;
  display: none;
}

.provider {
  padding: 0px !important;
}

.provider main {
  border-radius: 0 !important;
}

.provider main .form-side form {
  margin: 20px 50px !important;
}

@media (max-width: 768px) {
  .banner {
    min-height: 400px;
  }
  .banner .container h2 {
    font-size: 35px;
  }
  .banner .container p {
    font-size: 14px !important;
  }
  .how-it-work .container ul li {
    font-size: 14px;
  }
  .service {
    text-align: center;
    margin: 0px;
  }
  .service main .col {
    width: 49%;
    display: inline-block;
    float: none;
  }
  .pricing {
    margin: 0 0 50px;
  }
}

@media (max-width: 640px) {
  .pricing .wrapper main .col {
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .faq main .row {
    max-width: 380px;
  }
  .faq main .row .tab {
    padding: 4px 0px;
  }
  .faq main .row .tab span {
    font-size: 14px;
  }
  .faq main .row .tab:before {
    font-size: 20px !important;
  }
  .faq main .row .content {
    font-size: 13px;
  }
  .how-it-work .container ul li .fa {
    height: 28px;
    clear: both;
    float: left;
  }
  .service main .col {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
  .service main .col p {
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .banner .container {
    padding-top: 150px;
  }
  .banner .container h2 {
    font-size: 24px;
  }
  .pricing {
    margin: 0;
  }
  .faq main .row .tab {
    text-align: left;
    padding-left: 20px;
  }
  .faq main .row .tab span {
    display: inline;
  }
}

.apply {
  background-color: #343547;
  overflow: hidden;
  padding: 110px 0px 60px;
}

.apply header {
  margin: 0;
  color: #fff;
  padding-bottom: 30px;
}

.apply header h2 span {
  color: #3DCCCD;
}

.apply header p {
  font-size: 13px;
  margin: 0;
}

.apply main {
  border-radius: 4px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
}

.apply main .img-side {
  width: 50%;
  float: left;
  background: url("../images/Girl-Nurse.png") no-repeat center top;
  background-size: cover;
  height: 500px;
}

.apply main .img-side ul {
  margin-top: 300px;
}

.apply main .img-side ul li {
  font-size: 14px;
  border-radius: 2px;
  background-color: white;
  width: 223px;
  height: 47px;
  margin: 5px auto;
}

.apply main .img-side ul li:before {
  background-color: #72cac4;
  content: "\f00c";
  color: #fff;
  font-size: 20px !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  margin-right: 6px;
}

.apply main .img-side ul li span {
  color: #3DCCCD;
}

.apply main .form-side {
  width: 50%;
  float: left;
  margin-top: 15px;
  padding: 16px 100px 0 60px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.apply main .form-side h2 {
  color: #464647;
  padding-top: 15px;
  margin-bottom: 18px;
  font-size: 28px;
}

.apply main .form-side span {
  color: #72cac4;
  font-size: 12px;
  border-bottom: 1px solid;
}

.apply main .form-side ul li {
  display: inline-block;
  font-size: 11px;
  color: #585859;
  margin-top: 5px;
}

.apply main .form-side ul li:before {
  content: "\f111";
  color: #72cac4;
  font-size: 6px !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  vertical-align: middle;
  margin-right: 4px;
}

.apply main .form-side form {
  margin: 20px 0px;
}

.apply .benefits-details .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  width: 33%;
  float: left;
  text-align: center;
}

.apply .benefits-details .col .fa {
  font-size: 56px;
  color: #fff;
}

.apply .benefits-details .col h3 {
  color: #3DCCCD;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.apply .benefits-details .col p {
  color: #fff;
  font-size: 11px;
  line-height: 19px;
}

@media (max-width: 1024px) {
  .apply main {
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .apply main .img-side {
    height: 350px;
    background-size: contain;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .apply main .img-side ul {
    margin-top: 150px;
  }
  .apply main .form-side {
    width: 100%;
    padding: 0;
  }
  .apply main .form-side ul li {
    display: block;
  }
  .apply main .form-side form {
    width: 300px;
    margin: 20px auto !important;
  }
  .apply .benefits-details {
    text-align: center;
  }
  .apply .benefits-details .col {
    width: 49%;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 640px) {
  .apply .benefits-details .col {
    display: block;
    margin: auto;
    width: 260px;
  }
}

.account-client {
  background: url("../  images/background.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.account-client::after, .account-client::before {
  clear: both;
  content: "";
  display: table;
}

.account-client .site-menu {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
}

.account-client .site-menu a {
  position: relative;
  float: left;
  width: 33.3%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.account-client .site-menu a span img {
  width: 100%;
  opacity: 1;
}

.account-client .site-menu a .menu-item {
  background: rgba(137, 170, 225, 0.8);
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;
  text-align: center;
  height: 100%;
}

.account-client .site-menu a .menu-item img {
  width: 150px;
  margin-top: 70px;
}

.account-client .site-menu a .menu-item p {
  text-transform: uppercase;
  color: #fff;
  line-height: 50px;
}

.account-client .site-menu a:hover .menu-item {
  background: rgba(137, 170, 225, 0.5);
}

.account-client .client-side {
  width: 30%;
  float: left;
}

.account-client .client-side .side {
  margin-bottom: 20px;
}

.account-client .client-side .side a {
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.account-client .client-side .side a.active {
  background: #000;
}

.account-client pre {
  color: #fff;
}

.account-client .client-body {
  float: right;
  width: 65%;
}

.account-client .client-body .head {
  text-align: left;
  color: #fff;
}

.account-client .client-body .acc-tab-body {
  display: none;
}

.account-client .client-body .client-blank {
  display: block;
  overflow: hidden;
}

.account-client .client-body .client-blank pre {
  text-align: left;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.account-client .client-body .client-blank p {
  text-align: center;
  width: 100%;
  float: left;
  line-height: 200px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  min-height: 200px;
}

.account-client .client-body \
.head {
  text-align: left;
  color: #fff;
}

.account-client .client-body .field {
  margin-top: 10px;
  max-width: 300px;
  color: #fff;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.account-client .client-body .field p {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #000;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
}

.account-client .client-body form .input-field {
  text-align: left;
  max-width: 300px;
}

.account-client .client-body form .input-field label {
  color: #fff;
  letter-spacing: 1px;
}

.account-client .client-body form .input-field input {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #000;
}

.account-client .client-body form .input-field input:focus {
  background-color: #D2D2D1;
  outline: none;
}

@media (max-width: 768px) {
  .account-client .site-menu {
    padding: 10px;
  }
  .account-client .site-menu a {
    padding-right: 5px;
    padding-left: 5px;
  }
  .account-client .site-menu a .menu-item {
    left: 5px;
    right: 5px;
  }
  .account-client .site-menu a .menu-item img {
    margin-top: 30px;
    width: 110px;
  }
  .account-client .client-side {
    width: 100%;
  }
  .account-client .client-side .side {
    width: 100%;
    margin: 0;
  }
  .account-client .client-side .side a {
    font-size: 13px;
    margin-top: 5px;
    padding: 10px 0;
  }
  .account-client .client-body {
    width: 100%;
    text-align: center;
  }
  .account-client .client-body .head {
    text-align: center;
  }
  .account-client .client-body form .input-field {
    margin: auto;
  }
  .account-client .client-body .field {
    text-align: left;
    width: 100%;
    margin: 10px auto;
  }
}

@media (max-width: 640px) {
  .account-client .site-menu a {
    height: 60px;
    overflow: hidden;
  }
  .account-client .site-menu a .menu-item img {
    display: none;
  }
}

@media (max-width: 320px) {
  .account-client .client-body {
    overflow: hidden;
  }
}

.booking-flow {
  background-color: #20233a;
}

.booking-flow::after, .booking-flow::before {
  clear: both;
  content: "";
  display: table;
}

.booking-flow .navigation {
  background-color: #fff;
}

.booking-flow .navigation h1 {
  display: inline-block;
}

.booking-flow .navigation h1 img {
  width: 200px;
}

.booking-flow .navigation .four-step {
  position: absolute;
  top: 14px;
  right: 0px;
  left: 0px;
  width: 100%;
  max-width: 578px;
  margin: auto;
}

.booking-flow .navigation .four-step .step-line {
  position: absolute;
  top: 18px;
  right: 0px;
  left: 0px;
  height: 2px;
  background: #000;
  background: #000;
  margin: auto;
}

.booking-flow .navigation .four-step .steps {
  display: block;
  float: none;
}

.booking-flow .navigation .four-step .steps li {
  float: left;
  width: -webkit-calc(25% - 4px);
  width: calc(25% - 4px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.booking-flow .navigation .four-step .steps li .step-number {
  text-align: center;
}

.booking-flow .navigation .four-step .steps li .step-number span {
  height: 30px;
  width: 30px;
  margin: auto;
  text-align: center;
  background: white;
  background: white;
  line-height: 30px;
  color: #000;
  border: 2px solid #20233A;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.booking-flow .navigation .four-step .steps li .step-number p {
  font-size: 11px;
  padding-top: 13px;
}

.booking-flow .navigation .four-step .steps li .step-number.active {
  background: #20233A;
  background: #20233A;
  color: #fff;
}

.booking-flow .navigation .links {
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 22px;
}

.booking-flow .navigation .links a {
  color: #333;
  margin-right: 5px;
  margin-left: 5px;
}

.booking-flow main .booking form input, .booking-flow main .booking form select {
  width: 100%;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
}

.booking-flow main .booking form button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.booking-flow main .booking .input-field {
  position: relative;
}

.booking-flow main .booking .input-field .fa {
  position: absolute;
  right: 6px;
  bottom: 28%;
  background: white;
  background: white;
}

.booking-flow main .booking .step {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 506px;
  background: white;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin: 25px auto 55px;
  padding: 30px 60px;
}

.booking-flow main .booking .step .card-tabs ul {
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.booking-flow main .booking .step .card-tabs ul li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.booking-flow main .booking .step .card-tabs ul li a {
  cursor: pointer;
}

.booking-flow main .booking .step .card-tabs ul li a.active {
  color: #3DCCCD;
  border-bottom: 2px solid #3DCCCD;
}

.booking-flow main .booking .step .card-content {
  overflow: hidden;
}

#net-banking {
  display: none;
}

@media (max-width: 1024px) {
  .booking-flow .navigation .four-step {
    position: static;
    background-color: #fff;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .booking-flow .navigation .four-step .step-line {
    top: 98px;
  }
}

@media (max-width: 640px) {
  .booking-flow main .booking .step {
    width: auto;
    padding: 15px 30px;
  }
}

.gift .gift-banner {
  position: relative;
}

.gift .gift-banner img {
  width: 100%;
}

.gift .gift-banner .gift-card {
  position: absolute;
  right: 10%;
  bottom: -8%;
  width: 30%;
}

.gift .gift-body {
  margin-top: 100px;
}

.gift .gift-body .gift-coupen::after, .gift .gift-body .gift-coupen::before {
  clear: both;
  content: "";
  display: table;
}

.gift .gift-body .gift-coupen .col {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #85B2FA;
  color: #fff;
}

.gift .gift-body .gift-coupen .col h4 {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.gift .gift-body .gift-coupen .col span {
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 10px;
  display: block;
}

.gift .gift-body .gift-coupen .col:nth-child(2) {
  background-color: #A8C7FA;
}

.gift .gift-body .gift-form::after, .gift .gift-body .gift-form::before {
  clear: both;
  content: "";
  display: table;
}

.gift .gift-body .gift-form form .form-application {
  background: url("../images/banner.jpg");
  background-size: cover;
  overflow: hidden;
  padding: 20px;
}

.gift .gift-body .gift-form form .col {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.gift .gift-body .gift-form form .col .form-row {
  text-align: left;
}

.gift .gift-body .gift-form form .col .form-row .form-number {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}

.gift .gift-body .gift-form form .col .form-row .form-number .number {
  text-align: center;
  background-color: #4d90fe;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
}

.gift .gift-body .gift-form form .col .form-row .form-number p {
  text-transform: uppercase;
  display: inline-block;
  line-height: 30px;
}

.gift .gift-body .gift-form form .col .form-row .input-field label {
  color: #fff;
}

.gift .gift-body .gift-form form .col .form-row .input-field input, .gift .gift-body .gift-form form .col .form-row .input-field select, .gift .gift-body .gift-form form .col .form-row .input-field textarea {
  width: 100%;
  color: #505050;
}

.gift .gift-body .gift-form form .col .form-row .input-field textarea {
  height: 120px;
}

.gift .gift-body .gift-form form h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gift .gift-body .gift-form form .form-footer {
  margin-top: 20px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  color: #505050;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gift .gift-body .gift-form form .form-footer .price em {
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
}

.gift .gift-body .gift-form form .form-footer .form-submit {
  padding: 20px 30px;
  color: #505050;
  border: 2px solid #505050;
  text-transform: uppercase;
  width: 250px;
  margin-left: 10px;
}

.gift .gift-body .gift-form form .form-footer .form-submit:hover {
  background-color: #505050;
  color: #fff;
}

@media (max-width: 768px) {
  .gift .gift-body {
    margin-top: 50px;
  }
  .gift .gift-body .gift-coupen .col h3 {
    font-size: 18px;
  }
  .gift .gift-body .gift-coupen .col span {
    font-size: 30px;
  }
  .gift .gift-body .gift-form form .col {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .gift .gift-body {
    margin-top: 30px;
  }
  .gift .gift-body .gift-coupen .col {
    width: 100%;
  }
  .gift .gift-body .gift-coupen .col p {
    float: left;
  }
  .gift .gift-body .gift-coupen .col span {
    font-size: 22px;
    float: right;
    padding: 0;
  }
  .gift .gift-body .gift-form form .form-footer .price em {
    font-size: 28px;
  }
  .gift .gift-body .gift-form form .form-footer .form-submit {
    width: auto;
    padding: 10px 15px;
  }
}

.about .about-banner {
  height: 300px;
  background-image: url("../images/about-bg.jpg");
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  text-align: center;
}

.about .about-banner h2 {
  color: #fff;
  font-size: 50px;
  line-height: 350px;
}

.about .section-tabs {
  overflow: hidden;
}

.about .section-tabs .left-tabs {
  margin-top: 200px;
  width: 15%;
  float: left;
}

.about .section-tabs .left-tabs ul li a {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.about .section-tabs .left-tabs ul li a.active {
  border-bottom: 2px solid #3DCCCD;
  color: #3DCCCD;
}

.about .section-tabs .right-content {
  width: 85%;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 60px;
  border-left: 2px solid  #efefef;
}

.about .section-tabs .right-content .head {
  text-align: left;
  color: #3DCCCD;
  border-bottom: 2px solid #3DCCCD;
  display: inline-block;
}

.about .section-tabs .right-content .about-content main p {
  margin-bottom: 30px;
}

.about .section-tabs .right-content .press-content {
  display: none;
}

.about .section-tabs .right-content .press-content .press-item {
  border-bottom: 2px solid #efefef;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.about .section-tabs .right-content .press-content .press-item img {
  float: left;
  margin-right: 5%;
}

.about .section-tabs .right-content .press-content .press-item .press-item-titles {
  float: left;
  width: 68%;
  color: #474747;
}

.about .section-tabs .right-content .press-content .press-item .press-item-titles a {
  font-size: 26px;
  color: #474747;
}

.about .section-tabs .right-content .press-content .press-item .press-item-titles h4 {
  font-size: 16px;
}

.about .section-tabs .right-content .press-content .press-item .press-date {
  float: right;
  font-size: 22px;
}

.about .section-tabs .right-content .contact-content {
  display: none;
}

.about .section-tabs .right-content .contact-content main h3 {
  font-size: 20px;
  line-height: 125%;
  margin-bottom: 10px;
}

.about .section-tabs .right-content .contact-content main a {
  color: #3DCCCD;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 30px;
}

.about .section-tabs .right-content .contact-content main p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 768px) {
  .about .section-tabs .left-tabs {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
  .about .section-tabs .left-tabs ul li {
    padding: 0 15px;
    display: inline-block;
  }
  .about .section-tabs .left-tabs ul li a {
    padding: 10px 0;
  }
  .about .section-tabs .right-content {
    width: 100%;
    padding: 0;
    border: transparent;
  }
}

.terms .head {
  text-align: left;
}

.terms main {
  margin-bottom: 120px;
}

.terms main ul li {
  color: #474752;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 50px;
}

.terms main ul li .item-no {
  margin-left: -40px;
  display: inline-block;
  width: 40px;
}

.terms main ul li h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.faq-all main {
  margin-bottom: 120px;
}

.faq-all main .faq-wrapper h2 {
  background: #505050;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.faq-all main .faq-wrapper p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.faq-all main .faq-wrapper p::after, .faq-all main .faq-wrapper p::before {
  clear: both;
  content: "";
  display: table;
}

.faq-all main .faq-wrapper ol {
  margin-bottom: 10px;
  margin-left: 30px;
  float: left;
}

.faq-all main .faq-wrapper ol::after, .faq-all main .faq-wrapper ol::before {
  clear: both;
  content: "";
  display: table;
}

.faq-all main .faq-wrapper ol li {
  list-style-type: square;
  margin-bottom: 10px;
}
