<template name="home_content">
	<div class="how-it-work">
		<div class="container">
			<ul>
				<li><i class="fa fa-inr"></i>Gratuity is on us. No need to tip.</li>
				<li><i class="fa fa-calendar"></i>Available 7 days a week. 8am to midnight. Including holidays.</li>
				<li><i class="fa fa-clock-o"></i>We can be there in 1 hour or schedule in advance.</li>
			</ul>
		</div>
	</div>	
	<div class="service" id="service">
		<div class="container">
			<header class="head">
				<h2>What type of service would you like?</h2>
			</header>
			<main>
				<div class="wrapper">
					<div class="col">
						<img src="/images/atendent.png" alt="">
						<h3>atendent</h3>
						<p>Get attendant service and rest assured that your loved one is being well cared for at home.</p>
						<a href="#" class="btn btn-default hvr-sweep-to-right">Book</a>
					</div>
					<div class="col">
						<img src="/images/physiotherapy.png" alt="">
						<h3>physiotherapy</h3>
						<p>Get Our certified, specialised and experienced physiotherapists.</p>
						<a href="#" class="btn btn-default hvr-sweep-to-right">Book</a>
					</div>	
					<div class="col">
						<img src="/images/nurse.png" alt="">
						<h3>nurses</h3>
						<p>Get comfort of your home by highly qualified and experienced nurses.</p>
						<a href="#" class="btn btn-default hvr-sweep-to-right">Book</a>
					</div>
				</div>
			</main>
		</div>
	</div>

	<div class="testimonial">
		<div class="wrapper">
			<header class="head">
				<h2>Customer<i class="fa fa-heart"></i>UberHealth</h2>
			</header>
			<main>
				<div id="slider">
					<div class="col">
						<blockquote>
							"I left work yesterday at 7pm and scheduled a massage for 9pm. What an amazing way to end my week. Incredible app and service. "
							<pre>Katie F, Los Angeles</pre>	
						</blockquote>
					</div>		
					<div class="col">
						<blockquote>
							"I left work yesterday at 7pm and scheduled a massage for 9pm. What an amazing way to end my week. Incredible app and service. "
							<pre>Katie F, Los Angeles</pre>	
						</blockquote>
					</div>		
					<div class="col">
						<blockquote>
							"I left work yesterday at 7pm and scheduled a massage for 9pm. What an amazing way to end my week. Incredible app and service. "
							<pre>Katie F, Los Angeles</pre>	
						</blockquote>
					</div>
					<div class="col">
						<blockquote>
							"I left work yesterday at 7pm and scheduled a massage for 9pm. What an amazing way to end my week. Incredible app and service. "
							<b>Katie F, Los Angeles</b>	
						</blockquote>
					</div>		
					<div class="col">
						<blockquote>
							"I left work yesterday at 7pm and scheduled a massage for 9pm. What an amazing way to end my week. Incredible app and service. "
							<b>Katie F, Los Angeles</b>	
						</blockquote>
					</div>		
					<div class="col">
						<blockquote>
							"I left work yesterday at 7pm and scheduled a massage for 9pm. What an amazing way to end my week. Incredible app and service. "
							<b>Katie F, Los Angeles</b>	
						</blockquote>
					</div>
				</div>		
			</main>	
		</div>
	</div>	
	<div class="pricing" id="pricing">
		<div class="wrapper">
			<header class="head">
				<h2>Simple Pricing.</h2>
				<p>Don't worry about the tip.</p>
			</header>
			<main>
				<div class="col">
					<h2>Atendent</h2>
					<h3>60<pre>minutes</pre></h3>
					<h4>$99</h4>
					<a href="location.html" class="btn btn-default hvr-sweep-to-right">Book now</a>
				</div>	
				<div class="col">
					<h2>Physiotherapy</h2>
					<h3>60<pre>minutes</pre></h3>
					<h4>$99</h4>
					<a href="location.html" class="btn btn-default hvr-sweep-to-right">Book now</a>
				</div>	
				<div class="col">
					<h2>nurses</h2>
					<h3>60<pre>minutes</pre></h3>
					<h4>$99</h4>
					<a href="location.html" class="btn btn-default hvr-sweep-to-right">Book now</a>
				</div>	
			</main>		
		</div>
	</div>
	<div class="faq" id="faq">
		<div class="wrapper">
			<header class="head">
				<h2>Frequently Asked Questions</h2>
			</header>
			<main id="accordion">
				<div class="row">
					<p class="tab"><span>How does Soothe vet the therapists in its network?</span></p>
					<div class="content">
						<p>We’re very careful about the massage therapists we select to join the Soothe network. We interview all of our therapists in person and make sure they are fully licensed and insured in their state of practice. We accept only the highest quality therapists with a history of excellence in customer satisfaction.</p>
					</div>
				</div>
				<div class="row">
					<p class="tab"><span>How does Soothe vet the therapists in its network?</span></p>
					<div class="content">
						<p>We’re very careful about the massage therapists we select to join the Soothe network. We interview all of our therapists in person and make sure they are fully licensed and insured in their state of practice. We accept only the highest quality therapists with a history of excellence in customer satisfaction.</p>
					</div>
				</div>
				<div class="row">
					<p class="tab"><span>How does Soothe vet the therapists in its network?</span></p>
					<div class="content">
						<p>We’re very careful about the massage therapists we select to join the Soothe network. We interview all of our therapists in person and make sure they are fully licensed and insured in their state of practice. We accept only the highest quality therapists with a history of excellence in customer satisfaction.</p>
					</div>
				</div>
				<div class="row">
					<p class="tab"><span>How does Soothe vet the therapists in its network?</span></p>
					<div class="content">
						<p>We’re very careful about the massage therapists we select to join the Soothe network. We interview all of our therapists in person and make sure they are fully licensed and insured in their state of practice. We accept only the highest quality therapists with a history of excellence in customer satisfaction.</p>
					</div>
				</div>
				<div class="row">
					<p class="tab"><span>How does Soothe vet the therapists in its network?</span></p>
					<div class="content">
						<p>We’re very careful about the massage therapists we select to join the Soothe network. We interview all of our therapists in person and make sure they are fully licensed and insured in their state of practice. We accept only the highest quality therapists with a history of excellence in customer satisfaction.</p>
					</div>
				</div>
			</main>
		</div>
	</div>

	<div class="provider-form">
		<header class="head">
			<h2>Service provider registration</h2>
		</header>
		<div class="apply provider">
		<main>
			<div class="img-side">
				<ul>
					<li class="earn-more">Earn more <span>money.</span></li>
					<li class="earn-more">Work when <span>you</span> want.</li>
					<li class="earn-more">Stay <span>safe</span> on the job</li>
				</ul>
			</div>
			<div class="form-side">
				<h2>Apply hare</h2>
				<span>Qualifications:</span>
				<ul>
					<li>Certification/License</li>
					<li>Your own massage table</li>
					<li>Reliable transportation</li>
				</ul>
				<form>
					<input type="text" placeholder="First name">
					<input type="text" placeholder="Last name">
					<input type="email" placeholder="Email">
					<input type="email" placeholder="Phone number">
					<select>
						<option>Choose Your Gender</option>
						<option>Male</option>
						<option>Female</option>
					</select>	
					<select>
						<option>How did you hear about UberHealth?</option>
						<option>Craigslist</option>
						<option>Indeed</option>
						<option>Glassdoor</option>
						<option>Facebook</option>
						<option>Friend</option>
						<option>Current UberHealth Therapist</option>
					</select>	
					<input type="text" placeholder="Zip/postal Code">
					<div class="btn btn-default hvr-sweep-to-right">
						<input type="submit" class="btn">
					</div>
				</form>
			</div>
		</main>
		</div>
	</div>
</template>