<template name="userhome">
<body>
	<header class="main-header header-white-bg">
		{{>header}}
	</header>
	<div class="account-client">
		<div class="wrapper">
			<div class="site-menu">
				<a href="booking?type=attendant">
					<span><img src="images/atendent-menu.jpg"></span>
					<div class="menu-item">
						<img src="images/atendent-item.png">
						<p>ATENDENT</p>
					</div>	
				</a>
				<a href="booking?type=nurse">
					<span><img src="images/nurse-menu.jpg"></span>
					<div class="menu-item">
						<img src="images/nurse-item.png">
						<p>NURSE</p>
					</div>	
				</a>
				<a href="booking?type=physiotherapy">
					<span><img src="images/physiotherapy-menu.jpg"></span>
					<div class="menu-item">
						<img src="images/physiotherapy-item.png">
						<p>PHYSIOTHERAPY</p>
					</div>	
				</a>
			</div>
			<div class="client-side">
				<div class="side">
					<a class="acc_tab active">Appointments</a>
				</div>
				<div class="side">
					<a class="acc_tab">{{currentUser.profile.name}}</a>
				</div>
				<div class="side">
					<a class="acc_tab">Address</a>
				</div>
			</div>
			<div class="client-body">
				<div class="client-blank acc-tab-body">
					<pre>UPCOMING APPOINTMENTS</pre>
					<p>No upcoming appointments</p>
				</div>
				<div class="client-profile acc-tab-body">
					<div class="account-info">
						<header class="head">
							<h3>Account info</h3>
						</header>
						<div class="field">
							<h3>Name</h3>
							<p>{{currentUser.profile.name}}</p>
						</div>
						<div class="field">
							<h3>Email</h3>
							<p>{{currentUser.emails.[0].address}}</p>
						</div>
					<form>
						<div class="input-field">
							<label>Contact No.</label>
							<input type="text" name="phone">
						</div>
					</form>
						<button class="btn btn-default" id="save">Save Details</button>
					</div>	
					<div class="account-edit">
						<header class="head">
							<h3>Change Password</h3>
						</header>
						<form>
							<div class="input-field">
								<label>Password</label>
								<input type="password" id="password">
							</div>
							<div class="input-field">
								<label>Confirm Password</label>
								<input type="password" id="repassword">
							</div>
							<input type="button" value="submit" class="btn btn-default">
						</form>
					</div>
				</div>
				<div class="client-address acc-tab-body">
					<div class="address-info">
						<header class="head">
							<h3>Address</h3>
						</header>
						<div class="field">
							<h3>Name</h3>
							<p>{{currentUser.profile.name}}</p>
						</div>
						<div class="field">
							<h3>Email</h3>
							<p>{{currentUser.emails.[0].address}}</p>
						</div>
						<form>
						<div class="input-field">
							<label>Contact No.</label>
							<input type="text" name="phone">
						</div>
					</form>
						<button class="btn btn-default" type="submit" id="save">SAVE</button>
					</div>
					<div class="add-address">
						<header class="head">
							<h3>Edit address</h3>
						</header>
						<form>
							<div class="input-field">
								<label>Name of Address</label>
								<input type="text" placeholder="Home,Work, etc..">
							</div>
							<div class="input-field">
								<label>Street Address</label>
								<input type="text">
							</div>	
							<div class="input-field">
								<label>Suite/Apt Number</label>
								<input type="text">
							</div>	
							<div class="input-field">
								<label>City</label>
								<input type="text">
							</div>		
							<div class="input-field">
								<label>State</label>
								<input type="text">
							</div>	
							<div class="input-field">
								<label>Zip/Postal Code</label>
								<input type="text">
							</div>
							<input type="button" value="Save this Address" class="btn btn-default">
						</form>
					</div>	
				</div>
			</div>
		</div>
	</div>	
	{{>footer}}
</body>
</template>