<template name="banner">
	<div class="banner">
		<div class="container">
			<h2>Service Delivered To You</h2>
			<p>Anywhere, any time with one of our licensed and vetted 5 star therapists.  Starting at $99.</p>
		</div>
		<div class="wrapper">
			<form class="booking-form">
				<div class="city-drop">
					<select name="speed" id="speed">
						<option selected="selected">Boston</option>
						<option>Houston</option>
						<option>Las Vegas</option>
						<option>Los Angeles Area</option>
						<option>Northern New Jersey</option>
						<option>Atlanta</option>
						<option>Chicago</option>
						<option>Indianapolis</option>
						<option>Houston</option>
						<option>London</option>
						<option>Houston</option>
						<option>Las Vegas</option>
						<option>Los Angeles Area</option>
						<option>Northern New Jersey</option>
						<option>Atlanta</option>
						<option>Chicago</option>
						<option>Indianapolis</option>
						<option>Houston</option>
						<option>London</option>
					</select>
				</div>
				<div class="date-pick">
					<input type="text" id="datepicker" placeholder="date">
					<label for="datepicker"><i class="fa fa-calendar"></i></label>
				</div>
				<div class="time">
					<select name="speed" id="time">
						<option selected="selected" disabled="">Department</option>
						<option>Nurse</option>
						<option>Atendent</option>
						<option>Physiotherapist</option>
					</select>
				</div>
				<div class="btn btn-default hvr-sweep-to-right">
					<input type="submit" value="Request Appointment">
				</div>
			</form>
		</div>
	</div>
</template>