<template name="header">
	<div class="hamburger">
		<span class="nav-btn"></span>
	</div>
	<div class="container">
		<h1 class="logo"><a href="home.html">
			<img src="images/logo.png" alt="Uber Health">
		</a></h1>
		<ul class="navbar">
			<li><a href="#service">Service</a></li>
			<li><a href="#pricing">Pricing</a></li>
			<li><a href="#faq">FAQ</a></li>
			{{#if currentUser}}
				<a href="/signout"><button class="btn btn-danger btn-logout">Logout {{currentUser.profile.name}}</button></a>
			{{else}}
				<li class="sign-in"><a href="/login">Sign In</a></li>
			{{/if}}
		</ul>
	</div>
</template>